.save {
  margin-right: 4px;
}

form {
  margin: 2rem auto;
}

form label {
  margin-top: 8px;
}

.ingredient {
  margin-bottom: 8px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
